.header{
    grid-area: h;
    /* background-color: rgb(105, 24, 107);
     */
     /* background-color: #383a45; */
    background-image: linear-gradient(135deg, #400e6c 0%, #a613a1 50%);
   }
   .header img {
     width: 90px;
   }
  .loginBlock {
    float: right;
  }
  .loginBlock a{
    float: right;
    color: antiquewhite;
    margin: 5px;
    font-size: 1.2rem;
  }