.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
    font-style: italic;
    font-size: 1.02rem;
}

.dialogsItems .active {
    color: rgb(34, 6, 37);
    font-size: 1.1rem;
    font-weight: bold;
}

.dialog {

}

.messages{
    padding: 10px;
}

.message {

}