.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "h h"
  "n c";
  width: 1500px;
 
}


.app-wrapper-content {
    grid-area: c;
    background-color: #7e3096;
    background-image: linear-gradient(50deg, #9f65cb 0%, #b660c3 50%);

}