.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}


.message{
    display: block;
    margin: 10px;
}
.messages {
    margin-top: 1rem;
    font-style: italic;
    font-size: 1.02rem;
    border: 1px rgb(218, 164, 229) solid;
    width: fit-content;
    height: fit-content;
    min-width: 20rem;
    min-height: 30rem;
    background-image: linear-gradient(90deg,rgb(209, 167, 211), rgb(174, 136, 201));
    border-radius: 25px;
}
.addMessageButton{
    width: 5rem;
    height: 2rem;
    color: white;
    background-color: black;
    font-size: .7rem;
}

.dialogsItems .active {
    color: rgb(34, 6, 37);
    font-size: 1.1rem;
    font-weight: bold;
}

.dialog {

}

.messages{
    padding: 10px;
}

.message {

}